# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tgz
crash.log
crash.*.log
override.tf
override.tf.json
.terraformrc
terraform.rc
*.key
argocd-deploy-key
argocd-deploy-key.pub

# Keep the lock file
!.terraform.lock.hcl
